a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

header {
    font-family: 'Audiowide', sans-serif;
    font-size: 26px;
    display: flex;
    margin: -8px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    min-height: 10%;
    background: linear-gradient(45deg, #87c1f7 2%, #e2e2e2 100%);
}

#img-logo {
    width: 12%;
    height: 12%;
    margin-left: 100px;
}

#container-header {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
}

#text-name {
    font-weight: 900;
    text-shadow: 1px 1px #00b200;
}

#text-speс {
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    text-align: center;
}

#container-content {
    height: 120vh;
    border-radius: 24px;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    font-size: 16pt;
}

#section-skills {
    width: 20%;
    padding: 24px;
    font-family: 'Righteous', cursive;
    font-size: 75%;
    color: #000000bd;
    line-height: 200%;
    border-top-left-radius: 12px;
    background: linear-gradient(45deg, #FFA883 2%, #FFCFBB 100%);
}

#section-content {
    width: 80%;
    padding: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    border-top-right-radius: 12px;
    background: linear-gradient(45deg, #FFE283 2%, #FFCFBB 100%);
}

h4 {
    font-family: 'Audiowide', sans-serif;
    font-weight: 900;
}

p {
    line-height: 200%;
    font-size: 86%;
    text-align: justify;
}

object {
    width: 100vh;
    height: 25%;
    border-radius: 12px;
    padding: 12px;
    background: linear-gradient(225deg, #FFE283 6%, #FFCFBB 100%);
}

footer {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding-left: 24px;
    padding-right: 24px;
    background: #00b200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(360deg, #FFE283 6%, #FFCFBB 100%);
}

.footer-github p {
    font-family: 'Audiowide', sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    display: flex;
    color: black;
    text-decoration: none;
}

#footer-year-copywrite {
    font-family: 'Audiowide', sans-serif;
    font-size: 16px;
    color: rgb(93, 92, 92);
}

#icon-github {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

#icon-rs-school {
    width: 56px;
    height: 56px;
    margin-right: 8px;
}